<h1>Listing rit_users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Rit email</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rit_users.each do |rit_user| %>
      <tr>
        <td><%= rit_user.user_id %></td>
        <td><%= rit_user.rit_email %></td>
        <td><%= rit_user.admin %></td>
        <td><%= link_to 'Show', rit_user %></td>
        <td><%= link_to 'Edit', edit_rit_user_path(rit_user) %></td>
        <td><%= link_to 'Destroy', rit_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rit user', new_rit_user_path %>
