<h1>Listing other_users</h1>

<table>
  <thead>
    <tr>
      <th>Rit user</th>
      <th>Other email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @other_users.each do |other_user| %>
      <tr>
        <td><%= other_user.rit_user_id %></td>
        <td><%= other_user.other_email %></td>
        <td><%= link_to 'Show', other_user %></td>
        <td><%= link_to 'Edit', edit_other_user_path(other_user) %></td>
        <td><%= link_to 'Destroy', other_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Other user', new_other_user_path %>
