<% provide(:title, 'Home') %>
<h1>Home Page</h1>

<% checked_out = CheckedOut.new %>
<%= form_for(checked_out) do |f| %>
    <% if checked_out.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(checked_out.errors.count, "error") %> prohibited this checked_out from being saved:</h2>

          <ul>
            <% checked_out.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :bike_id %><br>
      <%= f.number_field :bike_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<table>
  <tr>
    <td>
      <table>
        <tr>
          <th>Bike</th>
          <th>User's DCE</th>
          <th>Check Bike In Link</th>
        </tr>
        <% @checked_outs.each do |checked_out| %>
        <tr>
          <td><%= checked_out.bike_id %></td>
          <% user = User.find( checked_out.user_id)%>
          <td><%= user.login %></td>
          <td><%= link_to 'Check Bike In', edit_checked_out_path(checked_out) %></td>
        </tr>
        <% end %>
        </table>
    </td>
    <td>
      <table>
        <tr>
          <th>Bikes That Can Be Checked Out</th>
          <th>Past Comments</th>
        </tr>
        <% @can_checked_outs.each do |checked_out| %>
          <tr>
            <td><%= checked_out.bike_id %></td>
            <td><%= checked_out.problem_description %></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>
<br>
<br>