<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<h3>
  There are <%=number_of_bikes_left %> bikes that are currently available to be checked out
</h3>

<% @feedback_form = FeedbackForm.new %>
<%= form_for(@feedback_form) do |f| %>
    <% if @feedback_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback_form.errors.count, "error") %> prohibited this feedback_form from being saved:</h2>

          <ul>
            <% @feedback_form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    </br>
    </br>
    <h4>To submit feedback about your experience please let us know below!</h4>
    <div class="field">
      <%= f.text_area :feedback %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Feedback" %>
    </div>
<% end %>