<% provide(:title, 'Home') %>
<h1>Home Page</h1>

<% @checked_out = CheckedOut.new %>
<%= form_for(@checked_out) do |f| %>
    <% if @checked_out.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@checked_out.errors.count, "error") %> prohibited this checked_out from being saved:</h2>

          <ul>
            <% @checked_out.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <div class="field">
      <%= f.label :bike_user_id %><br>
      <%= f.number_field :bike_user_id %>
    </div>
      <%= f.label :bike_id %><br>
      <%= f.number_field :bike_id %>
    </div>
    <div class="field">
      <%= f.label :fixed %><br>
      <%= f.check_box :fixed %>
    </div>
    <div class="field">
      <%= f.label :problem %><br>
      <%= f.text_area :problem %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<table>
  <thead>
  <tr>
    <th>Bike user___</th>
    <th>Bike___</th>
    <th>Checkout time___</th>
    <th>Checkin time___</th>
    <th>Fixed___</th>
    <th>Problem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @checked_outs = not_cheched_in %>
  <% @checked_outs.each do |checked_out| %>
      <tr>
        <td><%= checked_out.bike_user_id %></td>
        <td><%= checked_out.bike_id %></td>
        <td><%= checked_out.checkout_time %></td>
        <td><%= checked_out.checkin_time %></td>
        <td><%= checked_out.fixed %></td>
        <td><%= checked_out.problem %></td>
        <td><%= link_to 'Check Out', edit_checked_out_path(checked_out) %></td>
        <td><%= link_to 'Destroy', checked_out, method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= image_tag "RITTiger.jpg", {style: "margin-left:340px; text-align:center; vertical-align:middle;" } %>