<% provide(:title, 'Home') %>
<h1>Home Page</h1>
<% if current_user.registered %>
    <h2>Visit the Kate Gleason Residential Office to check out a bike</h2>
    <h2>Currently this website is being utilized for users to sign up, see how many bikes are available to be checked
      out currently, and to keep track of when you have to return the bike that you have rented out</h2>
    <br>
<% else %>
    <h3> To be allowed to check out a bike out, please click the register button in the top right corner</h3>
    <br>
<% end %>

<h3>
  There are <%=number_of_bikes_left %> bikes that are currently available to be checked out
</h3>

<% if current_user.repairman %>
    <h3>There are <%= num_of_bikes_to_be_inspected %> bikes that are currently waiting to be inspected</h3>
<% end %>

<% @feedback_form = FeedbackForm.new %>
<%= form_for(@feedback_form) do |f| %>
    <% if @feedback_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback_form.errors.count, "error") %> prohibited this feedback_form from being saved:</h2>

          <ul>
            <% @feedback_form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    </br>
    </br>
    <h4>To submit feedback about your experience please let us know below!</h4>
    <div class="field">
      <%= f.text_area :feedback %>
    </div>
    <div class="actions">
      <%= f.submit "Submit Feedback" %>
    </div>
<% end %>
