<% provide(:title, 'Quiz') %>
<h1>Quiz</h1>

<% @attempt = Attempt.new %>
<%= form_for(@attempt) do |f| %>
    <% @survey = Survey.find(1) %>
    <%= @survey.name %> <br/><br/>
    <%= @survey.description  %><br/><br/>
    <% @questions = @survey.questions %>
    <%= @questions.each do |question|
      question
      puts
      puts
      end
        %>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>