<% provide(:title, 'Quiz') %>
<h1>Quiz</h1>

<%= form_for(Attempt.new) do |f| %>
    <% @survey = Survey.find(1) %>
    <h3><%= @survey.description  %></h3>
    <br/>
    <% @survey.questions.each do |question| %>
        <h4><%= question.text %></h4>
        <br/>
        <% question.answers.each do |answer| %>
            <h5><%= f.radio_button question, answer.correct?, :checked => false %>  <%=answer.text%></h5>
            <br/>
        <% end %>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>