<% provide(:title, 'Register') %>
<h1>Register</h1>

    <% url = "https://drive.google.com/file/d/0BxFVFuWCRDh5QlZ4Y29kaHVjV2M/edit?usp=sharing" %>

    <iframe src=<%= url %>&embedded=true" style="width:920px; height:800px;"></iframe>
    <br/>
    <br/>
    If you cannot see the above pdf please <a href="https://drive.google.com/a/g.rit.edu/file/d/0BxFVFuWCRDh5QlZ4Y29kaHVjV2M/edit?usp=sharing">
       click here </a>
    <br/>
    <br/>
    <br/>
<%= form_for(@user) do |f| %>
    <%= @user.login %>
    <%= f.label :registered, "By checking this box I am acknowledging that I am 18 years or older" %><br>
    <%= f.check_box :registered %>
    <%= f.submit %>
<% end %>