<% provide(:title, 'Account') %>
<h1>User Accounts</h1>
<p>
  <strong>Bike:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Total Number of bikes rented:</strong>
  <%= @user.checked_out.size %>
</p>

<% if @checked_out != "No bike is currently checked out to you" %>
    <p>
      <strong>Bike currently being rented is?</strong>
      <%= @checked_out.bike_id %>
    </p>

    <p>
      <strong>Bike currently being rented is due back in</strong>
      <%= "hi" %>
    </p>
<% else %>
    <p>
      <strong>Bike currently being rented is?</strong>
      <%= @checked_out %>
    </p>
<% end %>

