<h1>Listing userinfos</h1>

<table>
  <thead>
    <tr>
      <th>Rit email</th>
      <th>Bike checked out</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @userinfos.each do |userinfo| %>
      <tr>
        <td><%= userinfo.rit_email %></td>
        <td><%= userinfo.bike_checked_out %></td>
        <td><%= userinfo.admin %></td>
        <td><%= link_to 'Show', userinfo %></td>
        <td><%= link_to 'Edit', edit_userinfo_path(userinfo) %></td>
        <td><%= link_to 'Destroy', userinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userinfo', new_userinfo_path %>
