<p id="notice"><%= notice %></p>

<p>
  <strong>Rit email:</strong>
  <%= @userinfo.rit_email %>
</p>

<p>
  <strong>Bike checked out:</strong>
  <%= @userinfo.bike_checked_out %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @userinfo.admin %>
</p>

<%= link_to 'Edit', edit_userinfo_path(@userinfo) %> |
<%= link_to 'Back', userinfos_path %>
