<p id="notice"><%= notice %></p>

<p>
  <strong>Rit user:</strong>
  <%= @guest_user.rit_user_id %>
</p>

<p>
  <strong>Other email:</strong>
  <%= @guest_user.other_email %>
</p>

<%= link_to 'Edit', edit_guest_user_path(@guest_user) %> |
<%= link_to 'Back', guest_users_path %>
