<h1>Listing bikes</h1>

<table>
  <thead>
    <tr>
      <th>Bike</th>
      <th>Checked Out?</th>
      <th>Need Repair?</th>
      <th>Problem Description</th>
      <th>Addtitional Repair Needed?</th>
      <th>Last Date Inspected</th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.bike_id %></td>
        <td><%= bike.checked_out %></td>
        <td><%= bike.need_repair %></td>
        <td><%= bike.problem_description %></td>
        <td><%= bike.addtional_repair_need %></td>
        <td><%= bike.last_date_inspected %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bike', new_bike_path %>
