<h1>Listing maintenance_reports</h1>

<table>
  <thead>
    <tr>
      <th>Bike #</th>
      <th>Comments after inspection</th>
      <th>User Comments before inspection</th>
      <th>Additional Repair Needed</th>
      <th>Last Inspected By</th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_reports.each do |maintenance_report| %>
      <tr>
        <td><%= maintenance_report.bike_id %></td>
        <td><%= maintenance_report.report %></td>
        <td><%= maintenance_report.problem_before_maintenance%></td>
        <td><%= maintenance_report.addtional_repair_need %></td>
        <% user = User.find(maintenance_report.user_id)%>
        <td><%= user.login %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

