<% provide(:title, 'Check Bike In') %>
<%= form_for(@checked_out) do |f| %>
  <% if @checked_out.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checked_out.errors.count, "error") %> prohibited this checked_out from being saved:</h2>

      <ul>
      <% @checked_out.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :bike_id %><br>
    <%= f.number_field :bike_id, :readonly => true %>
  </div>
  <div class="field">
    <%= f.label :fixed, "Check if the bike needs to be repaired" %>
    <%= f.check_box :fixed %>
  </div>
  <div class="field">
    <%= f.label :problem, "Running log of comments since last maintenance check" %><br>
    <%= f.text_area :problem %>
  </div>
  <div class="actions">
    <%= f.submit "Check Bike In" %>
  </div>
<% end %>
